@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
    <head>

    </head>
    <body>
    <div class="card text-white bg-success mb-3" style="text-align:center;" style="margin:50px;">
        <div class="card-header"><h2>About Us</h2></div>
        <div class="card-body">
            <h5 class="card-title">MediEval</h5>
            <p class="card-text">Founded in 2022 at Mohawk College, we have a rich and colorful history of continuous improvement and innovation at MediEval. 
                From providing the best Pharmacy Services with Services like Appointment Booking and Live Chat with the Pharmacist
                with one of the most popular and sophisticated Web applications in retail shopping today, 
                we have transformed ourselves into a leader within the retail and drug industry. 
                </p>
        </div>
    </div>
    </body>
</html>

