@{
    ViewData["Title"] = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <style>

        body{
            background-image: url("./Images/bg-design.png");
            background-size:contain;
            background-repeat:no-repeat;
        }

    </style>

</head>
<body>
   
    <div class="text-center back-img" style="margin-bottom:50px;">
        <h1 class="display-4 bg-success text-white" style="margin-left:475px; margin-right:475px;"><strong>Welcome to MediEval</strong></h1>
    </div>

    <div class="text-center" style="margin:50px;">
        <div class="card-group">
            <div class="card text-white bg-success mb-3" >
                <img class="card-img-top" src="~/Images/shop-logo.png" alt="Card image cap">
                <div class="card-header"><h2>Pharmacy - Shop</h2></div>
                <div class="card-body">
                    <h5 class="card-title">Pharmacy Services and Medications</h5>
                    <p class="card-text">Shop Over the Counter Drugs with Medi-Eval</p>
                </div>
                <div class="card-footer bg-transparent border-success">
                   <a class="btn btn-outline-light" asp-action="Index" asp-controller="Medicine">Shop Pharmacy</a>
                </div>
            </div>
            <div class="card text-white bg-success mb-3" style="margin-left:20px;margin-right:20px;">
                <img class="card-img-top" src="~/Images/chat.png" alt="Card image cap">
                <div class="card-header"><h2>Pharmacy Chat</h2></div>
                <div class="card-body">
                    <h5 class="card-title">Secure Chat with Pharmacy Expert</h5>
                    <p class="card-text">Get answers to general health and
Medication questions</p>
                </div>
                <div class="card-footer bg-transparent border-success">
                     <a  class="btn btn-outline-light" asp-action="index" asp-controller="Chat">Chat With a Pharmacist</a>
                </div>
            </div>
            <div class="card text-white bg-success mb-3" >
                <img class="card-img-top" src="~/Images/Appointment.png" alt="Card image cap">
                <div class="card-header"><h2>Pharmacy - Appointments</h2></div>
                <div class="card-body">
                    <h5 class="card-title">Book or Reschedule Appointment</h5>
                    <p class="card-text">Book or Reschedule Your Next Appointment and Register With Us Today</p>
                </div>
                <div class="card-footer bg-transparent border-success">
                    <a href="#" class="btn btn-outline-light">Book an Appointment</a>
                </div>
            </div>
        </div>
    </div>


</body>
</html>