@model MediEval.Models.ForgotPasswordViewModel


@{
    ViewData["Title"] = "Forgot Password Confirmation";
    Layout = "_Layout";
}

<html>
    <head>

    </head>
    <body>
    <h1 class="text-success">Forgot Password Confirmation</h1>
    <p class="text-success">
        Please check your email to reset your password.
    </p>
    </body>
</html>