
@{
    ViewBag.Title = "Add User";
    Layout = "_Layout";

}


<html>
    <head>

    </head>
    <body>

    <header>
        <h1 class="text-danger">
            Locked Out
        </h1>
        <p class="text-danger">This account has been locked out, please try again later.</p>
    </header>
    </body>
</html>

