@model MediEval.Data.ViewModel.RegisterViewModel

@{
    ViewBag.Title = "Add User";
    Layout = "_Layout";

}
   
<html>
    <head>

        <style>
            .row{
                margin:10px;
            }
            
        </style>

    </head>
    <body>
    <h2>Add User</h2>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <form method="post" asp-controller="User" asp-action="Add">
        <div class="form-group row">
            <div class="col-sm-2"><label>Full Name:</label></div>
            <div class="col-sm-4">
                <input type="text" asp-for="FullName" class="form-control" />
            </div>
            <div class="col">
                <span asp-validation-for="FullName" class="text-dager"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2"><label>Email Address:</label></div>
            <div class="col-sm-4">
                <input type="text" asp-for="EmailAddress" class="form-control" />
            </div>
            <div class="col">
                <span asp-validation-for="EmailAddress" class="text-dager"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2"><label>Password:</label></div>
            <div class="col-sm-4">
                <input type="password" asp-for="Password" class="form-control" />
            </div>
            <div class="col">
                <span asp-validation-for="Password" class="text-dager"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2"><label>Confirm Password:</label></div>
            <div class="col-sm-4">
                <input type="password" asp-for="ConfirmPassword" class="form-control" />
            </div>
            <div class="col">
                <span asp-validation-for="ConfirmPassword" class="text-dager"></span>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="offset-2 col-sm-4">
                <button type="submit" class="btn btn-outline-success">Add</button>
            </div>
        </div>
    </form>
    </body>
</html>




